<div class="center hero-unit">
  	<h1>Help</h1><hr>

  	<p> <%= link_to "How to sign up?", "/help/signup" %> </p> <hr>
  	<p> <%= link_to "How to sign in?", "/help/signin" %> </p> <hr>
  	<p> <%= link_to "How to change your settings?", "/help/change_settings" %> </p> <hr>
  	<p> <%= link_to "How to create a bill?", "/help/create_bill" %> </p> <hr>
  	<p> <%= link_to "How to create a group?", "help/create_group" %> </p> <hr>
  	<p> <%= link_to "How to remove a group?", "help/remove_group" %> </p> <hr>
  	<p> <%= link_to "How to manage a group?", "help/manage_group" %> </p> <hr>
  	<p> <%= link_to "How to add user to a bill?", "help/add_users_to_bill" %> </p> <hr>


</div>