<%= form_for(:bill) do |f| %>
	<div class="field">
	<%= f.text_field :amount,  placeholder: "Paid amount..." %>
	<%= f.text_field :comment, placeholder: "Add comment..." %>
	<%= f.file_field :ref,     placeholder: "Reference" %>
	<%= f.hidden_field :group_id, :value => group.id %>
	<p></p>
	<%= f.submit "Add bill",class: "btn btn-large btn-primary"%>
	</div>
<% end %>
