<div id="group-form" title="Add group"></div>
  <div class="row">

    
      <% @users.each do |usr| %>
        <div class="span8 offset3">
        <%= 
          if current_user.admin?
            usr.email 
          else 
            usr.name
          end
        %>
        <span class="right-edge">
          <% if usr.id==@group.user_id %>
            Owner
          <% else %>
            <% if @group.member?(usr)  %>
              <% if (current_user.id==@group.user_id || current_user.admin?) %>
                <%= form_for @group.members.find_by(user_id: usr.id), html: { method: :delete, :style => "display:inline;" } do |f| %>
                  <%= f.hidden_field :group_id %>
                  <%= f.submit "Remove", class: "btn btn-small btn-primary" %>
                <% end %>
              <% end %>
            <% else %>
              <%= form_for @group.members.build(user_id: usr.id), html: { :style => "display:inline;" } do |f| %>
              <%= f.hidden_field :group_id %>
              <%= f.hidden_field :user_id %>
              <%= f.submit "Add", class: "btn btn-small btn-primary" %>
              <% end %>
            <% end %>
          <% end %>
        </span>
        <hr>
      </div>
    <% end %>
  </div>
</div>