<% provide(:title, 'My groups') %>
<h1>My groups
  <%= link_to image_tag("add_group.png", :size => "50x50"), newgrp_path,:rel => 'facebox' %>
</h1>

<div id="group-form" title="Add group"></div>

<% if current_user.groups.any? || current_user.admin? %>
  <div class="row">
    <% @groups.each do |group| %>
      <div class="span6 offset3">
        <p>
          <%= link_to group.name, group %> <span class="tab"></span>
          <% if current_user.admin? %>
            (<%=  group.user.name   %> : 
             <%=group.user.email %>)
          <% end %>
          <span class="right-edge">
            <%= link_to image_tag("edit.png", :size => "30x30"), edit_group_path(group) %> 
            <%= link_to image_tag('delete.png', :size => "30x30"), group, method: :delete, data: { confirm: 'Are you sure?' } %>
          </span>
        </p>
        <hr>
      </div>    
    <% end %>
  </div>
<% end %>

<br>

