<% provide(:title, @group.name) %>
<p id="notice"><%= notice %></p>


<h1>
  <%= @group.name %>
</h1>

<% if current_user.admin? %>
  <p>
    <strong>Owner:</strong>
    <%= @group.user.email %>
    ( user_id = <%= @group.user_id %> )
  </p>
<% end %>

<p>
  <strong>Comment:</strong>
  <%= @group.comment %>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
