<% provide(:title, @group.name) %>
<h1>Show group</h1>
<p id="notice"><%= notice %></p>

<h1><%= @group.name %></h1>

<h3 class="center">
  <%= @group.comment %>
</h3>
<% if current_user.admin? %>
  <h3><%= @group.user.email %></h3>
<% end %>

<div class="row">
  <div class="center">
    <h3>All users</h3>
  </div>
  <%= render 'users' %>
</div>
