<% provide(:title, @group.name) %>

<div class="row">
  <aside class="span4">
    <section>
      <h1>
        Name : <%=@group.name %>
      </h1>
      <p> Description of the group : <%= @group.comment %> </p>
      <p> <%= pluralize(@group.members.count, "member")%> </p>
    </section>

    <section>
      <%= render :partial => 'bill_form', :locals => { :group => @group }%>
    </section>
	
  </aside>
  <div class="span7 offset1">
    <%= render 'users' %>
  </div>
</div>
