<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= image_tag @user.imag_url, :size => "150x150" %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="span8">
    <% if @user.bills.any? %>
      <h3>Bills (<%= @user.bills.count %>)</h3>
      <ol class="bills">
        <%= render @bills %>
      </ol>
      <%= will_paginate @bills %>
    <% end %>
  </div>
</div>
