<%= form_for(@bill) do |f| %>
  <div class="field">
    <%= f.collection_select :group_id, current_user.groups.all, :id, :name, :prompt => 'Select group' %>
    <%= f.text_field :amount, placeholder: "Paid amount"  %>
    <%= f.text_field :comment, placeholder: "Add comment..." %>
    <%= f.file_field :ref,     placeholder: "Reference" %>
  </div>
  <%= f.submit "Create", class: "btn btn-large btn-primary" %>
<% end %>
