<div id="group-form" title="Add group"></div>
  <div class="row">
    <% @users.each do |usr| %>
      <div class="span6">
        <p>
          <text><%= usr.email %></text>
          <span class="right-edge">
            <% if current_user?(usr) %>
              <td>Owner</td>
            <% else %>
              <% if usr.member?(usr) %>
                <%= link_to image_tag("remove-image.png", :size => "25x25" ),
                    "#" %>
              <% else %>
                <%= link_to image_tag("add-image.png", :size => "25x25" ),
                    "#" %>
              <% end %>
            <% end %>
          </span>
        </p>
      </div>
    <% end %>
<<<<<<< HEAD
  </div>
</div>
=======
  </tbody>
</table>

<div class="row">
    <% @users.each do |group| %>
      <div class="span6 offset3">
        <p>
          <%= link_to group.name, group %> <span class="tab"></span>
          <% if current_user.admin? %>
            (<%=  group.user.name   %> : 
             <%=group.user.email %>)
          <% end %>
          <span class="right-edge">
            <%= link_to image_tag("edit.png", :size => "30x30"), edit_group_path(group) %> 
            <%= link_to image_tag('delete.png', :size => "30x30"), group, method: :delete, data: { confirm: 'Are you sure?' } %>
          </span>
        </p>
        <hr>
      </div>    
    <% end %>
  </div>
>>>>>>> e35f8515c91ad37df94f4603285e0c2d449fe29e
