<table>
  <thead>
    <tr>
      <th>Email   </th>
      <th>    </th>
      <th>    </th>
    </tr>
  </thread>

  <tbody>
    <% @users.each do |usr| %>
      <tr>
        <td><%= usr.email %></td>
        <% unless current_user?(usr) %>
          <div id="member_form">
            <td><%=  %></td>
            <% if usr.member?(usr) %>
              <td>Member</td>
            <% else %>
              <td>Not member</td>
            <% end %>
          </div>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="row">
    <% @users.each do |group| %>
      <div class="span6 offset3">
        <p>
          <%= link_to group.name, group %> <span class="tab"></span>
          <% if current_user.admin? %>
            (<%=  group.user.name   %> : 
             <%=group.user.email %>)
          <% end %>
          <span class="right-edge">
            <%= link_to image_tag("edit.png", :size => "30x30"), edit_group_path(group) %> 
            <%= link_to image_tag('delete.png', :size => "30x30"), group, method: :delete, data: { confirm: 'Are you sure?' } %>
          </span>
        </p>
        <hr>
      </div>    
    <% end %>
  </div>
