<% provide(:title, @bill.comment) %>

<div class="row">
  <aside class="span4">
    <section>
      <h1>

        <%= @bill.comment %>
      </h1>
      <p> Amount :  <%= @bill.amount %> € </p>
      <% unless (@bill.ref_url.nil? || @bill.ref_url.eql?("/uploads/bills_pic/.jpg")) %>
       <a href="<%= @bill.ref_url %>" rel="facebox"><%= image_tag @bill.ref_url, :size => "100x100" %></a>
      <% else %>
        <% if @bill.user_id == current_user.id %>
          <%= link_to "Add a picture",edit_bill_path(@bill), class: "btn btn-small btn-primary", :rel => 'facebox' %>
        <% end %>
      <% end %>
    </section>
	
  </aside>
  <div class="span7 offset1">
    <% unless current_user == @bill_owner %>
    <p> Who paid? <%= link_to @bill_owner.name, @bill_owner %> </p><hr>
    <p>How much i need to reemburse? 
      <%= @bill.amount/(@bill_members_validate.count+@bill_members_not_validate.count) %>€</p> <hr>
    <% else %>
    <p> Who paid? Me </p>
    <% end %>
    <p> Who else is on the bill? </p> 
    <% @bill_members_validate.each do |user| %>
        <% this_user=@bill.user?(user.user_id) %>
        <% if user.user_id != @bill_owner.id %>
          <p> - <%= link_to this_user.name, this_user %>
          <span class="right-edge">
          <% if current_user.id == @bill_owner.id %>
            Already validated (owner)
          <% else %>
            Already validated (not owner)
          <% end %>
          </span>
          </p>
        <% end %>
    <% end %>
    <% @bill_members_not_validate.each do |user| %>
      <% this_user=@bill.user?(user.user_id) %>
      <% if user.user_id != @bill_owner.id %>
        <div class="row">
        <% if current_user.id == @bill_owner.id %>
          
          
          <%= form_for(user) do |f| %>
            <p> - <%= link_to this_user.name, this_user %>
            <span class="right-edge">
            <%= f.hidden_field :validate, :value => true %>
            <%= f.submit "This user paid the bill" %>
            </span>
            </p>
          <% end %>
          
        <% else %>
          <p> - <%= link_to this_user.name, this_user %>
          <span class="right-edge">
            Waiting validation by owner
          </span>
          </p>
        <% end %>
        </div>
      <% end %>
    <% end %>
    <hr>

  </div>
</div>